body {
  background-color: rgb(205, 205, 205);
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.articleCard {
  border: rgb(17, 17, 17) 1px solid;
  width: 8cm;
  height: 8cm;
  background-color: rgb(255, 198, 93);
  align-self: auto;
  flex: 1;
  padding: 30px;
  margin-bottom: 25px;
  border-radius: 8px;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;
}

li {
  list-style: none;
}

header {
  font-weight: bold;
  text-align: center;
  font-size: larger;
}

h1 {
  text-decoration: underline;
}

h3 {
  text-align: center;
  text-decoration: underline;
}

nav {
  text-align: center;
  padding-bottom: 5px;
}

.button {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  background-color: rgb(253, 204, 113);
  border: black 1px solid;
  border-radius: 8px;
  color: rgb(7, 7, 7);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 15px;
}

.homeButton {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  background-color: rgb(253, 204, 113);
  border: black 2px solid;
  border-radius: 8px;
  color: rgb(7, 7, 7);
  padding: 15px 32px;
  text-align: center;
  text-decoration: underline;
  display: inline-flex;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 3px;
}

.inputBox {
  padding: 15px 32px;
  border: black 1px solid;
  margin: 0.5cm;
  border-radius: 8px;
}

.form {
  border: black 2px solid;
}

.singleArticleCard {
  font-size: 0.5cm;
  border: rgb(17, 17, 17) 1px solid;
  width: auto;
  height: auto;
  background-color: rgb(255, 198, 93);
  padding: 30px;
  margin-bottom: 25px;
  border-radius: 8px;
  margin: auto;
  text-align: left;
}

.commentCard {
  border: rgb(17, 17, 17) 1px solid;
  width: 8cm;
  height: 11cm;
  background-color: rgb(205, 205, 205);
  align-self: auto;
  flex: 0 30%;
  padding: 30px;
  margin-bottom: 25px;
  border-radius: 8px;
  overflow: scroll;
}

.sortButton {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  background-color: rgb(253, 204, 113);
  border: black 1px solid;
  border-radius: 8px;
  color: rgb(7, 7, 7);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 4cm;
}

h3 {
  font-weight: bolder;
  color: black;
}

.voteButton {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  background-color: rgb(253, 204, 113);
  border: black 1px solid;
  border-radius: 8px;
  color: rgb(7, 7, 7);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
}

#voted {
  background-color: rgb(223, 76, 76);
}

.commentBox {
  padding: 40px 120px;
  border: black 1px solid;
  border-radius: 8px;
  font-size: 16px;
}

.authorBox {
  padding: 10px 45px;
  border: black 1px solid;
  border-radius: 8px;
  font-size: 16px;
}

.loggedIn {
  border: black 1px solid;
  border-radius: 8px;
  background-color: rgb(253, 204, 113);
  width: 5cm;
  height: 1cm;
}

.sortby {
  float: left;
  padding-left: 3cm;
}
