body {
  background-color: rgb(205, 205, 205);
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.articleCard {
  border: rgb(17, 17, 17) 1px solid;
  width: 8cm;
  height: 8cm;
  background-color: rgb(255, 198, 93);
  align-self: auto;
  flex: 1;
  padding: 30px;
  margin-bottom: 25px;
  border-radius: 8px;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;
}

li {
  list-style: none;
}

header {
  font-weight: bold;
  text-align: center;
  font-size: larger;
}

h1 {
  text-decoration: underline;
}

h3 {
  text-align: center;
  text-decoration: underline;
}

nav {
  text-align: center;
  padding-bottom: 5px;
}

.button {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  background-color: rgb(253, 204, 113);
  border: black 1px solid;
  border-radius: 8px;
  color: rgb(7, 7, 7);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}
